<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Web Development by Andrew Kepson</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina&display=swap">
    </head>
    <body class="" style="background-image: linear-gradient(90deg, #56CCF2, #2F80ED); background-color: #137bb4; grid-template-rows: 100px;">
        <nav class="bg-dark navbar navbar-dark navbar-expand-lg text-lg-right text-right text-sm-right" style="padding: 12px;">
            <a class="navbar-brand" href="#">Web Development by Andrew Kepson</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarText" style="display: inline-block;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./portfolio.html">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                </ul>
                <span class="navbar-text"></span>
            </div>
        </nav>
        <nav aria-label="breadcrumb" class="float-right">
</nav>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <div class="container" style="font-family: 'Abel', sans-serif; color: #2a1616; padding: 43px 99px 52px 69px; margin: 36px 30px 5px 27px; line-height: 32px; font-size: 20px; display: inline-block; visibility: visible; border-bottom-width: 0px; writing-mode: horizontal-tb;">
            <h1>About Me</h1>
            <p>Andrew Kepson is a web developer from Colorado Springs, Colorado.</p>
            <p>Growing up during the explosion of the internet and mobile technology, like many others I had a natural interest in technology, but in school my true passion was writing. I majored in English at the University of Colorado, Colorado Springs, and while I was aware of the rapid changes in technology happening around me, I saw computers and programming as a rigid science that would not quench my thirst for creativity.</p>
            <p>Eventually I found myself writing content for the internet, and it was when I found a position working at a digital marketing firm that I was introduced to the world of web development up close. In addition to picking up some of the basics at work, I found that the web developers around me had the greatest ability to see their ideas become reality, with a lot of flexibility to pursue their interests professionally.</p>
            <p>Like so many others, the COVID-19 pandemic disrupted my plans, but I saw an opportunity to finally learn the skills that I needed to build a career in web development. I enrolled at the University of Denver&apos;s web development bootcamp and began devoting myself to learning JavaScript. Please enjoy my portfolio and do not hesitate to contact me with any requests for web development services.</p>
            <p style="margin-bottom: 0px; padding-bottom: 0px;">In my free time I enjoy hiking and running on Colorado&apos;s trails, playing the guitar, and hanging out with my wife and our two dogs!</p>
        </div>
    </body>
    <nav class="bg-dark navbar navbar-dark" style="justify-content: flex-end; padding-top: 12px; padding-bottom: 12px;">
        <a class="navbar-brand" href="#" style="text-transform: lowercase; text-shadow: -7px 1px 18px; margin-top: 12px; margin-bottom: 12px;">Copyright 2020 Andrew Kepson</a>
    </nav>
</html>
