<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/styles.css">
    <link rel="stylesheet" href="../Assets/about-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About Andrew Kepson</title>
</head>
<body>
    <main>
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fa fa-align-justify"></i>
                </label>
                <label class="logo">Andrew Kepson Web Development</label>
                <ul>
                    <li>
                        <a href="#">About Me</a>
                    </li>
                    <li>
                        <a href="./portfolio.html">Portfolio</a>
                    </li>
                    <li>
                        <a href="./contact.html">Contact</a>
                    </li>
                </ul>
            </nav>
            <section class="about-me">
                <h1>About Me</h1>
                <p>
                    Andrew Kepson is a web developer from Colorado Springs, Colorado.
                </p>
                <p>
                    Growing up during the explosion of the internet and mobile technology, like many others I had a natural interest in technology, but in school my true passion was writing. I majored in English at the University of Colorado, Colorado Springs, and while I was aware of the rapid changes in technology happening around me, I saw computers and programming as a rigid science that would not quench my thirst for creativity.
                </p>
                <p>
                    Eventually I found myself writing content for the internet, and it was when I found a position working at a digital marketing firm that I was introduced to the world of web development up close. In addition to picking up some of the basics at work, I found that the web developers around me had the greatest ability to see their ideas become reality, with a lot of flexibility to pursue their interests professionally.
                </p>
                <p>
                    Like so many others, the COVID-19 pandemic disrupted my plans, but I saw an opportunity to finally learn the skills that I needed to build a career in web development. I enrolled at the University of Denver's web development bootcamp and began devoting myself to learning JavaScript. Please enjoy my portfolio and do not hesitate to contact me with any requests for web development services.
                </p>
                <p>
                    In my free time I enjoy hiking and running on Colorado's trails, playing the guitar, and hanging out with my wife and our two dogs!
                </p>
            </section>
        </main>
        <footer>
            <a href="https://www.linkedin.com/in/andrewkepson/"><img src="../Assets/Glyphs/iconfinder_5296_-_LinkedIn_1314173.png" alt="Connect with me on LinkedIn"></a>
            <a href="https://github.com/AndrewKepson"><img src="../Assets/Glyphs/iconfinder_github-social-media_765246.png" alt="Check out my code on GitHub"></a>
        </footer>
    </div>
</body>
</html>