<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/styles.css">
    <link rel="stylesheet" href="../Assets/contact-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Contact Andrew Kepson Web Development</title>
</head>
<body>
    <main>
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fa fa-align-justify"></i>
                </label>
                <label class="logo">Andrew Kepson Web Development</label>
                <ul>
                    <li>
                        <a href="./about.html">About Me</a>
                    </li>
                    <li>
                        <a href="./portfolio.html">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
            <form>
                <p><label for="name">Name:</label> <input type="text" id="name" name="user_name" placeholder="name"></p>

                <p><label for="email">Email Address:</label> <input type="text" id="email" placeholder="Email Address"></p>

                <p><label for="message">Message:</label> <textarea name="" id="user-message" cols="100" rows="10"></textarea></p>

                <button type="submit" id="submitBtn">Send Message</button>
            </form>
        </main>
        <footer>
            <a href="https://www.linkedin.com/in/andrewkepson/"><img src="../Assets/Glyphs/iconfinder_5296_-_LinkedIn_1314173.png" alt="Connect with me on LinkedIn"></a>
            <a href="https://github.com/AndrewKepson"><img src="../Assets/Glyphs/iconfinder_github-social-media_765246.png" alt="Check out my code on GitHub"></a>
        </footer>
    </div>
</body>
</html>