<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Web Development by Andrew Kepson - Portfolio</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="style.css" rel="stylesheet">
    </head>
    <body class="" style="background-image: linear-gradient(90deg, #56CCF2, #2F80ED); background-color: #137bb4; grid-template-rows: 100px; padding-top: 0px;">
        <nav class="bg-dark navbar navbar-dark navbar-expand-lg text-lg-right text-right text-sm-right" style="padding: 12px;">
            <a class="navbar-brand" href="#">Web Development by Andrew Kepson</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarText" style="display: inline-block;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./portfolio.html">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                </ul>
                <span class="navbar-text"></span>
            </div>
        </nav>
        <nav aria-label="breadcrumb" class="float-right">
</nav>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <div class=" container pb-5 pt-5">
            <div class=" pb-auto pt-auto row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="../Assets/Gallery-Images/SEO-Site-Example.png" class="border-secondary rounded-top w-100" width="Auto" height="161.98" alt="A homepage for a digital marketing firm.">
                        <div class="card-body">
                            <h5 class="card-title">Digital Marketing Landing Page&nbsp;</h5>
                            <p class="card-text">Every company needs at least one landing page to attract clients!</p>
                            <a href="https://andrewkepson.github.io/improving-seo-marketing-webpage-assmt1/" class="btn btn-dark">View Project</a>
                        </div>
                    </div>
                    <h3><br></h3>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../Assets/Gallery-Images/pass-generator.png" class="rounded-top w-100" height="161.98" alt="A password generator."/>
                        <div class="card-body">
                            <h5 class="card-title">Password Generator</h5>
                            <p class="card-text">Functional web-based application to generate secure passwords on the fly!</p>
                            <a href="https://andrewkepson.github.io/password-generator-using-javascript/index.html" class="btn btn-dark">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../Assets/Gallery-Images/day-planner.png" class="rounded-top w-100" height="161.97" alt="A work day planner to schedule your day."/>
                        <div class="card-body">
                            <h5 class="card-title">Work Day Scheduler</h5>
                            <p class="card-text">A locally hosted web application to create schedules that are stored on your computer's browser.</p>
                            <a href="https://andrewkepson.github.io/Day-Planner/Develop/index.html" class="btn btn-dark">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" mt-4 pt-auto row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="../Assets/Gallery-Images/javascript-quiz.png" class="rounded-top w-100" height="161.97" alt="A web-based coding quiz."/>
                        <div class="card-body">
                            <h5 class="card-title">Quiz Application</h5>
                            <p class="card-text">A web-based application to test your knowledge of coding and save your score! </p>
                            <a href="https://andrewkepson.github.io/coding-quiz/" class="btn btn-dark">View Project</a>
                        </div>
                    </div>                     
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../Assets/Gallery-Images/weather-dashboard.png" class="rounded-top w-100" height="161.97" alt="A web-based weather search and display application."/>
                        <div class="card-body">
                            <h5 class="card-title">Weather Dashboard</h5>
                            <p class="card-text">Easily plan your outfits for the week by finding the weather for any city in the world!</p>
                            <a href="https://andrewkepson.github.io/weather-app/" class="btn btn-dark">View Project</a>
                        </div>
                    </div>                     
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../Assets/Gallery-Images/employee-tracker.png" class="rounded-top w-100" height="161.97" alt="An employee tracking terminal application using Node.js"/>
                        <div class="card-body">
                            <h5 class="card-title">Employee Tracker</h5>
                            <p class="card-text">Use this back end application to create a database of employees and group them into teams!</p>
                            <a href="https://github.com/AndrewKepson/employee-tracker" class="btn btn-dark">View Project</a>
                        </div>
                    </div>                     
                </div>
            </div>
        </div>
    </body>
    <nav class="bg-dark navbar navbar-dark" style="justify-content: flex-end; padding-top: 12px; padding-bottom: 12px;">
        <a class="navbar-brand" href="#" style="text-transform: lowercase; text-shadow: -7px 1px 18px; margin-top: 12px; margin-bottom: 12px;">Copyright 2020 Andrew Kepson</a>
    </nav>
</html>
