<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/styles.css">
    <link rel="stylesheet" href="../Assets/portfolio-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Portfolio - Andrew Kepson Web Development</title>
</head>
<body>
    <main>
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fa fa-align-justify"></i>
                </label>
                <label class="logo">Andrew Kepson Web Development</label>
                <ul>
                    <li>
                        <a href="./about.html">About Me</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="./contact.html">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="portfolio-container">
                <card class="portfolio-item">
                    <img src="https://picsum.photos/id/250/250" alt="">
                    <strong>Interplanetary Travel Guide</strong>
                    <p>Plan your next interplanetary trip with a web application that easily guides you through the process of selecting a planet to visit, finding a rocket, and choosing your options!</p>
                </card>
                <card class="portfolio-item">
                    <img src="https://picsum.photos/id/250/250" alt="">
                    <strong>Project 1</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vel similique at accusamus consequuntur in omnis recusandae aperiam nisi quae?</p>
                </card>
                <card class="portfolio-item">
                    <img src="https://picsum.photos/id/250/250" alt="">
                    <strong>Project 1</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vel similique at accusamus consequuntur in omnis recusandae aperiam nisi quae?</p>
                </card>
                <card class="portfolio-item">
                    <img src="https://picsum.photos/id/250/250" alt="">
                    <strong>Project 1</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vel similique at accusamus consequuntur in omnis recusandae aperiam nisi quae?</p>
                </card>
                <card class="portfolio-item">
                    <img src="https://picsum.photos/id/250/250" alt="">
                    <strong>Project 1</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vel similique at accusamus consequuntur in omnis recusandae aperiam nisi quae?</p>
                </card>
                <card class="portfolio-item">
                    <img src="https://picsum.photos/id/250/250" alt="">
                    <strong>Project 1</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vel similique at accusamus consequuntur in omnis recusandae aperiam nisi quae?</p>
                </card>
                <card class="portfolio-item">
                    <img src="https://picsum.photos/id/250/250" alt="">
                    <strong>Project 1</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vel similique at accusamus consequuntur in omnis recusandae aperiam nisi quae?</p>
                </card>
                <card class="portfolio-item">
                    <img src="https://picsum.photos/id/250/250" alt="">
                    <strong>Project 1</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vel similique at accusamus consequuntur in omnis recusandae aperiam nisi quae?</p>
                </card>
                <card class="portfolio-item">
                    <img src="https://picsum.photos/id/250/250" alt="">
                    <strong>Project 1</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vel similique at accusamus consequuntur in omnis recusandae aperiam nisi quae?</p>
                </card>
            </div>
        </main>
        <footer>
            <a href="https://www.linkedin.com/in/andrewkepson/"><img src="../Assets/Glyphs/iconfinder_5296_-_LinkedIn_1314173.png" alt="Connect with me on LinkedIn"></a>
            <a href="https://github.com/AndrewKepson"><img src="../Assets/Glyphs/iconfinder_github-social-media_765246.png" alt="Check out my code on GitHub"></a>
        </footer>
    </div>
</body>
</html>