#navbar {
    background-color: #FFFFFF;
}

.navbar-brand {
    background-color: #59AAA5;
}

body {
    background-color: #EAEAEA;
}

h2 {
    color: #59AAA5;
    padding-left: 15px;
}

hr {
    padding-left: 15px;
}

.container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 75px;
}

.img-row {
    display: flex;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    
}

.container-fluid {
    background-color: #EDEDED;
}

.page-footer-fluid {
    background: #666666;
    text-decoration: #FFFFFF;
    text-align: center;
    border: 20px;
    height: 15px;
    margin: 20px;
    padding: 20px;
}

.rounded {
    margin: 10px;
    padding: 5px;
}

#your-name {
    color: #FFFFFF;
    margin-left: 20px;
}

#content-row {
    background-color: #FFFFFF;
}

#outer-row {
    background-color: #FFFFFF;
}

#portfolioPhotos {
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

#form-container {
    background-color: #FFFFFF;
    align-items: stretch;
}

#submitButton {
    background-color: #59aaa5;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    padding: 8px 24px;
    text-decoration: none;
    text-shadow: 0px 2px 1px #5b6178;
    margin-top: 20px;
}

#submitButton:hover {
    background-color: #59aaa5;
}

#submitButton:active {
    position: relative;
    top: 1px;
}

/* @media (min-width:768px) {
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;

    }
} */