#navbar {
    background-color: #FFFFFF;
}

.navbar-brand {
    background-color: #59AAA5;
}
 
/* Make media query
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;

} */


h2 {
    color: #59AAA5;
    padding-left: 15px;
}

hr {
    padding-left: 15px;
}

#your-name {
   color: #FFFFFF;
    margin-left: 20px;
}

#content-row {
   background-color: #FFFFFF; 
}

.container-fluid {
    background-color: #EDEDED;
}

#outer-row {
    background-color: #FFFFFF;
}

body {
    background-color: #EAEAEA;
}

.container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 75px;
}

.img-row {
    display: flex;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#submitButton {
    margin-top: 15px;
}